<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Royal Lib search mirror
  </h1>
</div>
<div>
  <label>Query
    <input [(ngModel)]="query" placeholder="Type your query here">
    <button (click)="getData()">Search</button>
  </label>
</div>

<div *ngIf="searching"> Wait please, search may take a moment...</div>

<div *ngIf="results_ready">
  <div *ngFor="let r of results">
    <app-sresult [sresult]="r"></app-sresult>
  </div>
</div>

<router-outlet></router-outlet>
